<footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">What we do</h5>
          <p class="grey-text text-lighten-4">We enable predictive healthcare applications for better patient care​, provide predictive information at the point of care​, embed data science team with the clinical teams​​, and focus on Service Lines and Department Goals.</p>

        </div>
        <div class="col l3 s12">
          <h6 class="white-text">Sitemap</h6>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/press-publications">Press and Publications</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h6 class="white-text">Connect</h6>
          <ul class="social-media-list">
            <li>
              <a target="_blank" href="https://github.com/orgs/pennsignals"><i class="fa fa-github" fa-2x aria-hidden="true"></i> Github</a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/penndatascience"><i class="fa fa-twitter" fa-2x aria-hidden="true"></i> Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue darken-4">
      <div class="container">
      &copy {{ site.time | date: '%Y' }} The Trustees of the University of Pennsylvania
      </div>
    </div>
  </footer>
