<div class="top-nav">
  <div class="container">
    <ul class="social-media-list">
      <li>
        <a target="_blank" href="https://github.com/orgs/pennsignals"><i class="fa fa-github" fa-2x aria-hidden="true"></i></a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/penndatascience"><i class="fa fa-twitter" fa-2x aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</div>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <div id="logo-container" class="valign-wrapper">
        <a href="/">
          <img class="valign-wrapper" src="https://www.pennmedicine.org/Assets/PennMedicine/built/images/assets/logo-lg.svg" alt="Perelman School of Medicine at the University of Pennsylvania" width="220" height="40">
          <h1>Predictive Healthcare</h1>
        </a>

      </div>
      <ul class="right hide-on-med-and-down">
        <li><a class="about" href="/about">About</a></li>
        <li>
          <a class="dropdown-button projects" href="" data-activates="dropdown1" data-beloworigin="true" data-hover="true" data-constrainwidth="false">Projects</a>
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="/projects/sepsis">Early Warning System</a></li>
            <li class="divider"></li>
            <li><a href="/projects/heart">CHF Wired</a></li>
          </ul>
        </li>
        <li><a class="team" href="/team">Team</a></li>
        <li><a class="blog" href="/blog">Blog</a></li>
        <li><a class="contact" href="/contact">Contact</a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/projects/sepsis">Early Warning System</a></li>
        <li><a href="/projects/heart">CHF Wired</a></li>
        <li><a href="/organization/team">Team</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

