<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{% if page.slug %}{{page.slug}}{% endif %}">

    {% include header.html %}

    {{ content }}
  </div>

    {% include footer.html %}
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/materialize.js"></script>
    <script src="/assets/js/jquery.matchHeight.js"></script>
    <script src="/assets/js/init.js"></script>
  </body>

</html>
